.page-header
  = link_to new_math_ladder_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Math ladder
  %h1 Listing math_ladders

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.row
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.square
  .col-md-1.hide
  .col-md-1.hide

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Number
        %th User
        %th
        %th
        %th

    %tbody
      %tr
        %td.value= @math_ladder.number
        %td= @user_name
        %td= link_to 'Show', @math_ladder
        %td= link_to 'Edit', edit_math_ladder_path(@math_ladder)
        %td= link_to 'Destroy', @math_ladder, :data => { confirm: 'Are you sure?' }, :method => :delete
:javascript
  $(document).ready(function() {
    var i = 0,
        num = $('.value').text();

    $('.square').each(function() {
      if (i < num) {
        $(this).css('background-color', 'green');
      }
      i = i + 1;
    });
  });
