.page-header
  = link_to new_math_ladder_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Math ladder
  %h1 Listing math_ladders

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Number
        %th User
        %th
        %th
        %th

    %tbody
      - @math_ladders.each do |math_ladder|
        %tr
          %td.value= math_ladder.number
          %td= "#{User.find(math_ladder.user_id).name}"
          %td= link_to 'Show', math_ladder
          %td= link_to 'Edit', edit_math_ladder_path(math_ladder)
          %td= link_to 'Destroy', math_ladder, :data => { confirm: 'Are you sure?' }, :method => :delete
:javascript
  $(document).ready(function() {
    console.log($('.value').text());
  });
