.page-header
  = link_to new_math_ladder_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Math Ladder
  %h1 Listing math ladders

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Rung
        %th
        %th
        %th

    %tbody
      %tr
        %td= @math_ladder.number
        %td= link_to 'Show', @math_ladder
        %td= link_to 'Edit', edit_math_ladder_path(@math_ladder)
        %td= link_to 'Destroy', @math_ladder, :data => { confirm: 'Are you sure?' }, :method => :delete
