.page-header
  = link_to new_math_ladder_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Math ladder
  %h1 Listing math_ladders

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '100', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      100
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '99', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      99
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '98', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      98
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '97', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      97
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '96', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      96
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '95', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      95
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '94', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      94
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '93', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      93
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '92', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      92
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '91', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      91
  .col-md-1.hide
  .col-md-1.hide

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '90', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      90
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '89', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      89
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '88', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      88
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '87', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      87
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '86', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      86
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '85', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      85
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '84', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      84
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '83', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      83
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '82', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      82
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '81', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      81
  .col-md-1.hide
  .col-md-1.hide

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '80', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      80
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '79', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      79
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '78', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      78
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '77', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      77
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '76', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      76
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '75', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      75
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '74', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      74
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '73', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      73
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '72', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      72
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '71', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      71
  .col-md-1.hide
  .col-md-1.hide


.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '70', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      70
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '69', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      69
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '68', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      68
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '67', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      67
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '66', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      66
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '65', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      65
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '64', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      64
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '63', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      63
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '62', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      62
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '61', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      61
  .col-md-1.hide
  .col-md-1.hide

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '60', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      60
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '59', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      59
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '58', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      58
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '57', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      57
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '56', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      56
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '55', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      55
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '54', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      54
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '53', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      53
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '52', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      52
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '51', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      51
  .col-md-1.hide
  .col-md-1.hide

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '50', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      50
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '49', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      49
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '48', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      48
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '47', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      47
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '46', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      46
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '45', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      45
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '44', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      44
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '43', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      43
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '42', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      42
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '41', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      41
  .col-md-1.hide
  .col-md-1.hide

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '40', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      40
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '39', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      39
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '38', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      38
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '37', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      37
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '36', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      36
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '35', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      35
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '34', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      34
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '33', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      33
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '32', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      32
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '31', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      31
  .col-md-1.hide
  .col-md-1.hide

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '30', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      30
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '29', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      29
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '28', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      28
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '27', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      27
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '26', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      26
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '25', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      25
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '24', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      24
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '23', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      23
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '22', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      22
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '21', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      21
  .col-md-1.hide
  .col-md-1.hide

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '20', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      20
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '19', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      19
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '18', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      18
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '17', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      17
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '16', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      16
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '15', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      15
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '14', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      14
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '13', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      13
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '12', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      12
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '11', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      11
  .col-md-1.hide
  .col-md-1.hide

.row
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '10', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      10
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '9', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      9
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '8', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      8
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '7', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      7
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '6', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      6
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '5', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      5
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '4', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      4
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '3', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      3
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '2', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      2
  = link_to math_ladder_path(@math_ladder.id, :math_ladder => {'number' => '1', 'user_id'=> @math_ladder.user_id} ), :method => :patch, :remote => true do
    .col-md-1.square
      1
  .col-md-1.hide
  .col-md-1.hide



.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Number
        %th User
        %th
        %th
        %th

    %tbody
      %tr
        %td.value= @math_ladder.number
        %td= @user_name
        %td= link_to 'Show', @math_ladder
        %td= link_to 'Edit', edit_math_ladder_path(@math_ladder)
        %td= link_to 'Destroy', @math_ladder, :data => { confirm: 'Are you sure?' }, :method => :delete

:javascript
  $(document).ready(function() {
    var i = 100,
        num = $('.value').text();

    $('.square').each(function() {
      if (i <= num) {
        $(this).css('background-color', 'green');
      }
      i = i - 1;
    });
  });
