.page-header
  = link_to new_practice_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Practice
  %h1 Listing practices

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Seconds Elapsed
        %th Instrument
        %th User
        %th Notes
        %th
        %th
        %th

    %tbody
      - @practices.each do |practice|
        %tr
          %td= distance_of_time_in_words practice.seconds_elapsed, 0, {include_seconds: true}
          %td= Instrument.find(practice.instrument_id).name
          %td= practice.user.name
          %td= practice.notes
          %td= link_to 'Show', practice
          %td= link_to 'Edit', edit_practice_path(practice)
          %td= link_to 'Destroy', practice, :data => { confirm: 'Are you sure?' }, :method => :delete
