.page-header
  = link_to practices_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_practice_path(@practice), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show practice

%dl.dl-horizontal
  %dt Seconds elapsed:
  %td= distance_of_time_in_words @practice.seconds_elapsed, 0, {include_seconds: true}
  %dt Instrument:
  %dd= Instrument.find(@practice.instrument_id).name
  %dt User:
  %dd= @practice.user.name
  %dt Notes:
  %dd= @practice.notes
